<%- layout('layouts/boilerplate') -%>
    <!-- replace the 'body' local in 'layouts/boilerplate.ejs' with all the content below in this template -->

    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form">
                <!-- Title -->
                <div class="mb-3">
                    <!-- Remember: form-control class should be added to every text input in a form when using bootstrap
                        styling. Similarly, form-label class should be added to every label -->
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required
                        value="<%=campground.title%>">
                    <div class="valid-feedback">Looks good!</div>
                    <!-- custom validation feedback div should come right below the input -->
                    <!-- campground[title] will put title under the 'campground: value' object when sending the post request -->
                    <!-- set the input to be compulsory using the required attribute so the browser warns when submitting
                        to form that some input is missing -->
                </div>
                <!-- Location -->
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required
                        value="<%=campground.location%>">
                    <div class="valid-feedback">Looks good!</div>
                    <!-- custom validation feedback div should come right below the input -->
                    <!-- campground[location] will put 'location: value' under the campground object when sending the post request -->
                    <!-- set the input to be compulsory using the required attribute so the browser warns when submitting
                        to form that some input is missing -->
                </div>
                <!-- Image URL -->
                <div class="mb-3">
                    <label class="form-label" for="image">Image URL</label>
                    <input class="form-control" type="text" id="image" name="campground[image]" required
                        value="<%=campground.image%>">
                    <div class="valid-feedback">Looks good!</div>
                    <!-- custom validation feedback div should come right below the input -->
                    <!-- campground[image] will put 'image: value' under the campground object when sending the post request -->
                    <!-- set the input to be compulsory using the required attribute so the browser warns when submitting
                        to form that some input is missing -->
                </div>
                <!-- Price -->
                <div class="mb-3">
                    <label for="price" class="form-label">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input id="price" type="text" class="form-control" placeholder="0.0" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" required
                            value="<%=campground.price%>">
                        <!-- campground[price] will put 'price: value' under the campground object when sending the post request -->
                        <!-- set the input to be compulsory using the required attribute so the browser warns when submitting
                        to form that some input is missing -->
                        <div class="valid-feedback">Looks good!</div>
                        <!-- custom validation feedback div should come right below the input -->
                    </div>
                </div>
                <!-- Description -->
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required><%=campground.description%></textarea>
                    <div class="valid-feedback">Looks good!</div> <!-- custom validation feedback -->
                    <!-- campground[image] will put 'image: value' under the campground object when sending the post request -->
                    <!-- set the input to be compulsory using the required attribute so the browser warns when submitting
                        to form that some input is missing -->
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Campground</button>
                </div>
            </form>
            <a href="/campgrounds/<%=campground._id%>">Back To Campground</a>
        </div>
    </div>